#joueurs{
	margin-right: 20%;
	margin-left: 20%;
	background-color: blue;
	text-align: center;
}
img{
	width: 100px;
	padding: 10px;
}
a{
	color
}
h1{
	text-align: center;
}
#D{
	background-color: red;
	width:10%;
}
#V{
	background-color: green;
	width:10%;
}